{% extends "layout.njk" %}

{% block content %}
    <form class="mb-5" id="questionForm" action="/umfrage" method="POST">
        <div class="mb-3">
            <label for="inputPollName" class="form-label lead">Umfrage erstellen</label>
            <input type="text" class="form-control form-control-lg" id="inputPollName">
            <div id="inputPollNameHelp" class="form-text">Gebe deiner Umfrage einen Namen!</div>
        </div>
        <a class="btn btn-outline-secondary" href="/">Abbrechen</a>
        <button type="submit" class="btn btn-primary">Fragen hinzufügen</button>
    </form>
{% endblock %}