{% extends "layout.njk" %}

{% block content %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Umfrage abgeschlossen!</h4>
  <p>Vielen Dank, du hast die Umfrage erfolgreich abgeschlossen!</p>
  <small>Zurück zur Hauptseite:</small>
  <hr>
  <p class="mb-0"><a href="/">Zur Hauptseite</a></p>
</div>
{% endblock %}
