{% extends "layout.njk" %}

{% block content %}
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title"><i class="far fa-smile me-1"></i>Hallo bei PollyPi!</h5>
            <p class="card-text">Schön, dass du deine Umfrage mit PollyPi starten möchtest!</p>
        </div>
    </div>
{% endblock %}