{% extends "layout.njk" %}

{% block content %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Huch, diese Seite existiert nicht <i class="far fa-frown"></i></h4>
  <p>Hast du dich vielleicht beim Umfragecode vertippt?</p>
  <hr/>
  <p class="mb-0"><a href="/">Zurück zur Hauptseite</a></p>
</div>
{% endblock %}
