{% extends "layout.njk" %}

{% block content %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Umfrage veröffentlicht!</h4>
  <p>Super, du hast deine Umfrage erfolgreich veröffentlich!</p>
  <p>Teile den folgenden Link mit den Teilnehmern:</p>
  <hr>
  <p class="mb-0"><a href="/poll/{{ poll.code }}">Zur Umfrage</a></p>
</div>
{% endblock %}